page-register {

  .headerText{
    margin-top: 10vh;
  }


  .bgGreyMargin{
    margin-top: 15vh;
  }

  .bgBlackMargin{
    margin-top: 5vh;
  }

  .footerText{
    position: absolute;
    bottom: 10px;
    left: 10%;
    transform: translateX(-5%);
  }
}
