page-login {
  .headerText{
    text-align: center;
    margin-top: 10vh;
  }

  form{
    padding: 0 7%;
    margin-top: 5vh;
  }

  .mb{
    margin-bottom: 5vh;
  }

  .mt{
    margin-top: 5vh;
  }
}
