page-details {



  ion-header{
    padding: 6px 10px;
  }

  hr{
    border: 1px solid #d3d3d3;
  }

  .logo{
    width: 40px;
    height: 40px;
  }

  .user{
    width: 20%;
    height: 20%;
    margin-right: 5px;
  }

  .userInfo{
    padding-top: 3vh;
  }
  .p-l{

    padding-left: 20px;
  }

  .user img{
    width: 100%;
    height: 100%;
  }

  .userName{
    transform: translateY(-5px);
    margin-left: 10px;
  }

  .info{
    margin-top: 15px;
    line-height: 20px;
  }

  .tabLayout{
    width: 100%;
    background: #f2f2f2;
  }

  .tabLayout button{
    width: 33.34%;
    padding: 15px 0;
    font-size: large;
  }

  .active{
    background: #2ec95c;
    color: #fff;
    border-radius: 5px;
  }

  .form{
    padding: 0 7%;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .mb{
    margin-bottom: 5vh;
  }

  .mt{
    margin-top: 5vh;
  }
}
